<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Trending Movies</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item button *ngFor="let item of movies" [routerLink]="[item.id]" >
      <ion-avatar slot="start">
        <img [src]="imageBaseUrl + '/w92/' + item.poster_path" alt="movie-icon"/>
      </ion-avatar>
      <ion-label> 
        {{ item.title }}
        <p> {{ item.release_date | date:'y' }} </p> 
      </ion-label>
      <ion-badge slot="end" color="primary"> {{ item.vote_average }} </ion-badge>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite) = "loadMore($event)">
    <ion-infinite-scroll-content 
      loadingSpinner="bubbles" 
      loadingText="Loading more movies..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
